<%- include('../components/head.ejs') %>
</head>

<body>
    <%- include('../components/navBar.ejs') %>
    
    <main>
        <h1>Nothing Here!</h1>
    </main>
    <%- include('../components/end.ejs') %>
</body>